body{
    margin: 0%;
}
header{

background-color: #ffed8a;}
.container1{
    background-color: aliceblue;
    display: flex;
}
p{
    margin: 16px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: inherit;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form{
  margin: 15px 0 0;
  color: #b3b3b3;
  
  font-size: 15px;
}
.form  {
  border: solid orange ;
  border-radius: 15px;
    text-align: center;
  color: orange ;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
 
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 60px auto;
}

.container .info {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container  {
  color: #4d4d4d;
  font-size: 12px;
}
.container{
  color: #000000;
  text-decoration: none;
}
.container .info {
  color: #EF3B3A;
}
body {
background: white;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
header{
    text-align: inherit;
    margin: 0%;
    padding: 2%;
    background: hwb(51 62% 0%);
}
.container1{

    padding: 1%;
}
.resultado{
border:  orange solid;
border-radius: 17px;
padding: 9%;



}
.input{
    padding: 10px;
    margin: 3%;
    border: solid orange;
    border-radius: 24px;
}
.footer{
    background-color:rgb(243, 182, 69);
    padding: 1px;
    text-decoration: solid white;
}
.btn {
    border: orange solid 3px;
    margin: 3%;
    padding: 9%;
    border-radius: 12px

}
.calculo{
    text-align: center;
  
}
.btn :hover {
    background-color: yellow;
}
.mostrar{
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  display: flex;
}
 